<div class="demo">
  <MonacoEditor Model="new EditorModel(new EditorOptions())"></MonacoEditor>
    SQL:
    <CodeInput @bind-Content="@editModel.Sql" ErrorMessage="@editModel.SqlError" ContentIsInvalid="@editModel.SqlResultIsError" />
    <br />
    TQL:
    <CodeInput @bind-Content="@editModel.Tql" ErrorMessage="@editModel.TqlError" ContentIsInvalid="@editModel.TqlResultIsError" />
    <br />
</div>
<div class="demo">
  <ResultDisplay Result="@editModel.Transformed" EverythingIsFine="@(!editModel.SqlResultIsError && !editModel.TqlResultIsError)" />

  <div>
    <ResultDisplay Result="@editModel.Logs" EverythingIsFine="true" />
    <button @onclick="@Click">Reset</button>
  </div>
  
</div>


@code {
    public void Click()
    {
        editModel.Logs = "";
        Console.WriteLine("click");
    }
    public TqlDemoModel editModel = new TqlDemoModel()
    {
        Tql = @"-- SetupConfig: {}
create transformer on CK.sAclCreate
as
begin
add parameter @AclTypeId int = 0;
in single part {insert into CK.tAcl}
begin
add column AclTypeId = @AclTypeId;
end
end",
        Sql = @"-- SetupConfig: {}
alter Procedure CK.sAclCreate
(
@ActorId int,
@AclIdResult int output
)
as begin
--[beginsp]
--<PreCreate revert />
insert into CK.tAcl default values;
set @AclIdResult = scope_identity();
--<PostCreate />
--[endsp]
end"
    };

}
